@media (max-width: 768px) {
  .logo{
    font-size: 35px;
    margin: 20px 0;
  }
  .text_header {
    padding-top: 10px;
  }
  .text_reserve {
    margin-bottom: 10px;
  }
  .text_description {
    margin-bottom: 30px;
  }
  /*main*/
  .title_function {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  .choice {
    align-items: center;
    padding: 20px 10px;
    justify-content: center;
  }
  .text_choice {
    font-size: 19px;
  }
  .border_card_restaurant {
    margin-bottom: 20px;
  }
  .image_welcome {
    height: 160px;
    width: 100%;
  }
  .title_restaurant {
    padding-top: 70px;
    margin-bottom: 25px;
  }
  /*footer*/
  .text_footer {
    padding-bottom: 8px;
  }
}
@media (max-width: 375px) {
  .border_new_flat_1{
    margin-top: 40px;
  }
  .border_new_flat_2{
    margin-top: 30px;
  }
}
