@media (max-width: 768px) {
  .text_header {
    padding-top: 10px;
  }
  .text_reserve {
    margin-bottom: 10px;
  }
  .text_description {
    margin-bottom: 30px;
  }
  /*main*/
  .function {
    margin-bottom: 30px;
  }
  .title_function {
    margin-bottom: 40px;
  }
  .choice {
    align-items: center;
    margin-bottom: 15px;
  }
  .title_restaurant {
    padding-top: 70px;
    margin-bottom: 25px;
  }
  /*footer*/
  .text_footer {
    padding-bottom: 8px;
  }
}
@media (max-width: 375px) {
}
