/*corp de la page*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "roboto";
}
/*couleur utiiser*/
.color-purple {
  color: var(--color-purple);
}
.color-pink {
  color: var(--color-pink);
}
.color-sky-blue {
  color: var(--color-sky-blue);
}
/*header*/
.header{
  position: relative;
  text-align: center;
}
.icon_arrow{
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}
.text_decoration{
  text-decoration: none;
  color: black;
}
.logo {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  cursor: pointer;
}
/*main*/
.main{
  text-align: center;
  margin: auto;
}
.image_flat {
  object-fit: cover;
  width: 100%;
  text-align: center;
  height: 600px;
}
.title_menu {
  margin: 0 50px 35px 20px;
  font-family: "Shrikhand", cursive;
  font-size: 35px;
}
.icon_heart_flat{
  font-size: 28px;
  margin: 0 0 35px 50px;
  position: relative;
  cursor: pointer;
}
.heart_full{
  opacity: 0;
}
.heart_empty{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
.icon_heart_flat:hover .heart_full{
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  opacity: 1;
}
.icon_heart_flat:hover .heart_empty{
  opacity: 0;
}
.text_flat_icon{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.block_flat_menu {
  border-radius: 25px 25px 0 0;
  margin-top: -50px;
  background-color: white;
  position: relative;
  padding: 0 20px;
}
.block_flat_menu_2 {
  border-radius: 25px 25px 0 0;
  margin-top: -150px;
  background-color: white;
  position: relative;
  padding: 0 20px;
}
.border_card{
  border-radius: 15px;
  box-shadow: 0px 3px 8px 6px rgb(228, 228, 228);
  margin-bottom: 20px;
  display: flex;
}
.list_menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list_menu_items{
  width: 31%;
}
.title_recipe {
  margin: 0 275px -3px 0;
  padding-bottom: 6px;
  position: relative;
  text-align: left;
}
.border_bottom_recipe_1{
  width: 50px;
  margin: 0 0 25px 0;
  padding: 3px 0 1px 0;
  background: var(--color-sky-blue);
  border: none;
}
.border_bottom_recipe_2{
  width: 40px;
  margin: 0 0 25px 0;
  padding: 3px 0 1px 0;
  background: var(--color-sky-blue);
  border: none;
}
.border_bottom_recipe_3{
  width: 45px;
  margin: 0 0 25px 0;
  padding: 3px 0 1px 0;
  background: var(--color-sky-blue);
  border: none;
}
.title_flat_description{
  font-size: 14px;
  text-align: left;
}
.title_flat_description h2{
  font-weight: 600;
}
.description_flat{
  white-space: nowrap;
}
.price {
  font-weight: 800;
  padding-right: 5px;
}
.title_flat_ingredient_price{
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s;
  text-align: end;
  padding: 10px;
  align-items: end;
}
.title_flat{
  width: 100%;
  white-space: nowrap;
  margin-bottom: 3px;
  font-size: 18px;
}
.border_card:hover .title_flat{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}
.border_card:hover .description_flat{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}
.block_check_icon{
  background-color: var(--color-sky-blue);
  width: 0%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
}
.border_card:hover .block_check_icon{
  width: 20%;
}
.block_check_icon i{
  transition: all 0.7s;
  opacity: 0;
  color: white;
  font-size: 20px;
}
.border_card:hover .block_check_icon i{
  transform: rotate(360deg);
  opacity: 1;
  color: white;
}
.border_card:hover .title_flat_ingredient_price{
  width: 80%;
}
.border_animation_1{
  animation: border_animation_1 1.5s forwards;
  opacity: 0;
}
.border_animation_2{
  animation: border_animation_2 2s forwards;
  opacity: 0;
}
.border_animation_3{
  animation: border_animation_3 2.5s forwards;
  opacity: 0;
}
.border_animation_4{
  animation: border_animation_4 3s forwards;
  opacity: 0;
}
.border_animation_5{
  animation: border_animation_4 3.5s forwards;
  opacity: 0;
}
.border_animation_6{
  animation: border_animation_4 4s forwards;
  opacity: 0;
}
.border_animation_7{
  animation: border_animation_4 4.5s forwards;
  opacity: 0;
}
.border_animation_8{
  animation: border_animation_4 5s forwards;
  opacity: 0;
}
.border_animation_9{
  animation: border_animation_4 5.5s forwards;
  opacity: 0;
}
.border_animation_10{
  animation: border_animation_4 6s forwards;
  opacity: 0;
}
@keyframes border_animation_1{ 
  0%{
    opacity: 0;
    transform: translateY(15px);
    transition-delay: 0.5s;
  }
  100%{
    opacity: 1;
    transform: translateY(-15px);
    transition-delay: 0.5s;
  }
}
@keyframes border_animation_2{
  0%{
    opacity: 0;
    transform: translateY(15px);
    transition-delay: 0.8s;
  }
  100%{
    opacity: 1;
    transform: translateY(-15px);
    transition-delay: 0.8s;
  }
}
@keyframes border_animation_3{
  0%{
    opacity: 0;
    transform: translateY(15px);
    transition-delay: 0.11s;
  }
  100%{
    opacity: 1;
    transform: translateY(-15px);
    transition-delay: 0.11s;
  }
}
@keyframes border_animation_4{
  0%{
    opacity: 0;
    transform: translateY(15px);
    transition-delay: 0,14s;
  }
  100%{
    opacity: 1;
    transform: translateY(-15px);
    transition-delay: 0,14s;
  }
}
@keyframes border_animation_5{
  0%{
    opacity: 0;
    transform: translateY(-15px);
    transition-delay: 0,17s;
  }
  100%{
    opacity: 1;
    transform: translateY(15px);
    transition-delay: 0,17s;
  }
}
@keyframes border_animation_6{
  0%{
    opacity: 0;
    transform: translateY(-15px);
    transition-delay: 0,20s;
  }
  100%{
    opacity: 1;
    transform: translateY(15px);
    transition-delay: 0,20s;
  }
}
@keyframes border_animation_7{
  0%{
    opacity: 0;
    transform: translateY(-15px);
    transition-delay: 0,23s;
  }
  100%{
    opacity: 1;
    transform: translateY(15px);
    transition-delay: 0,23s;
  }
}
@keyframes border_animation_8{
  0%{
    opacity: 0;
    transform: translateY(-15px);
    transition-delay: 0,26s;
  }
  100%{
    opacity: 1;
    transform: translateY(15px);
    transition-delay: 0,26s;
  }
}
@keyframes border_animation_9{
  0%{
    opacity: 0;
    transform: translateY(-15px);
    transition-delay: 0,29s;
  }
  100%{
    opacity: 1;
    transform: translateY(15px);
    transition-delay: 0,29s;
  }
}
@keyframes border_animation_10{
  0%{
    opacity: 0;
    transform: translateY(-15px);
    transition-delay: 0,29s;
  }
  100%{
    opacity: 1;
    transform: translateY(15px);
    transition-delay: 0,32s;
  }
}
.button_order {
  border: 0 transparent;
  padding: 15px 35px;
  font-size: 17px;
  background: linear-gradient(to top, var(--color-purple), var(--color-pink));
  color: white;
  border-radius: 25px;
  margin: 40px 0 80px 0;
  cursor: pointer;
}
.button_order:hover{
  opacity: 0.8;
}
/*footer*/
.footer {
  background-color: rgb(53, 53, 53);
  padding: 25px 0;
}
.logo_footer{
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  color: white;
  margin: 0 0 25px 10px ;
}
.text_icons_footer {
  color: white;
}
.text_footer {
  padding-bottom: 20px;
}
.icon_text {
  display: flex;
}
.icon_footer {
  margin: 8px;
}
.link_phone{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
