/*corp de la page*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "roboto";
}
/*couleur utiiser*/
.color-purple {
  color: var(--color-purple);
}
.color-pink {
  color: var(--color-pink);
}
.color-sky-blue {
  color: var(--color-sky-blue);
}
/*header*/
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_arrow{
  font-size: 30px;
}
.logo {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  margin-left: 10px;
}
/*main*/
.main{
  text-align: center;
  width: 400px;
  margin: auto;
}
.image_flat {
  object-fit: cover;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.block_menu {
}
.title_menu {
  margin: 0 50px 35px 20px;
  font-family: "Shrikhand", cursive;
  font-size: 35px;
}
.icon_heart_flat{
  font-size: 28px;
  margin: 0 0 35px 50px;
  position: relative;
  cursor: pointer;
}
.heart_full{
  opacity: 0;
}
.heart_empty{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
.icon_heart_flat:hover .heart_full{
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  opacity: 1;
}
.icon_heart_flat:hover .heart_empty{
  opacity: 0;
}
.text_flat_icon{
  display: flex;
  align-items: center;
}
.block_flat_menu {
  border-radius: 25px 25px 0 0;
}
.border_card{
  border-radius: 15px;
  box-shadow: 0px 3px 8px 6px rgb(228, 228, 228);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.title_recipe {
  font-size: ;
  font-weight: ;
  margin: 0 275px -3px 0;
  padding-bottom: 6px;
  position: relative;
}
.border_bottom_recipe_1{
  width: 50px;
  margin: 0 0 25px 30px;
  padding: 3px 0 1px 0;
  background: var(--color-sky-blue);
  border: none;
}
.border_bottom_recipe_2{
  width: 40px;
  margin: 0 0 25px 38px;
  padding: 3px 0 1px 0;
  background: var(--color-sky-blue);
  border: none;
}
.border_bottom_recipe_3{
  width: 45px;
  margin: 0 0 25px 23px;
  padding: 3px 0 1px 0;
  background: var(--color-sky-blue);
  border: none;
}
.title_flat_description{
  padding: 0 px;
}
.description_flat{
  margin-right: 140px;
}
.price {
  font-weight: 800;
  padding: 10px;
}
.title_flat_ingredient_price{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title_flat_ingredient_price:hover{
  width: 80%;
}
.block_check_icon{
  background-color: var(--color-sky-blue);
  width: 0%;
  font-size: 0px;
}
.block_check_icon:hover{
  color: black;
  width: 20%;
  font-size: 25px;
}
.button_order {
  border: 0 transparent;
  padding: 15px 35px;
  font-size: 17px;
  background: linear-gradient(to top, var(--color-purple), var(--color-pink));
  color: white;
  border-radius: 25px;
  margin: 40px 0 80px 0;
  cursor: pointer;
}
.button_order:hover{
  opacity: 0.8;
}
/*footer*/
.footer {
  background-color: rgb(53, 53, 53);
  padding: 25px 0;
}
.logo_footer{
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  color: white;
  margin: 0 0 25px 10px ;
}
.text_icons_footer {
  color: white;
}
.text_footer {
  padding-bottom: 20px;
}
.icon_text {
  display: flex;
}
.icon_footer {
  margin: 8px;
}
.link_phone{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
